html {
    background-color: #0A0A1F;
}

.header {
    color: #FF2CDF;
    font-family: "Orbitron", sans-serif;
}

#mainHeader {
    color: #00F0FF;
}

li, p{
    color: #EAEAEA;
    font-family: "Inter", sans-serif;
}

#title {
    /* for debug */
    border: 1px red solid; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paraContainer {
    /* for debug */
    border: 1px red solid;
    display: flex;
    flex-direction: column;
}

#learningPaths {
    /* for debug */
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
