html {
    background-color: #0A0A1F;
}

.header {
    color: #FF2CDF;
    font-family: "Orbitron", sans-serif;
    margin-bottom: 5px;
}

#mainHeader {
    color: #00F0FF;
    margin-bottom: 0px;
}

#subHeader {
    margin-top: 5px;
    margin-bottom: 15px;
}

li, p{
    color: #EAEAEA;
    font-family: "Inter", sans-serif;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paraContainer {
    display: flex;
    flex-direction: column;
}

#courseStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 10px 0px
}

#startButton {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    color: #0A0A1F;
    padding: 14px 40px;
    border-radius: 10px 0px 10px 0px;
    width: 250px;
    background-image: linear-gradient(to bottom right, #00F0FF, #FF2CDF);
    transition-duration: 0.4s;
}

#startButton:hover {
    background: linear-gradient(90deg, #00B8CC 0%, #D11AC6 100%);
    transform: scale(1.05);
    box-shadow: 0 0 12px #FF2CDF, 0 0 24px #00F0FF;
}

#para1, #para2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#learningPaths {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#learningPathHeader {
    padding-bottom: 25px;
}

.boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#box1, #box2, #box3, #box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    color: #00F0FF;
}
