html {
    background-color: #211951;
}

.header {
    color: #836FFF;
    font-family: "Orbitron", sans-serif;
}

#mainHeader {
    color: #15F5BA;
}

li {
    color: #F0F3FF;
    font-family: "Inter", sans-serif;
}